#textdomain wesnoth-Raajal
[unit]
    hide_help=true
    id=Outlaw Queen2
    name= _ "female^Outlaw Queen2"
    race=human
    gender=female
    image="units/heist-outlaw-queen.png"
    hitpoints=62
    movement_type=elusivefoot
    movement=7
    experience=100
    level=3
    alignment=chaotic
    advanceto=null
    {AMLA_DEFAULT}
    cost=150
    usage=mixed fighter
    unit_description=""
[/unit]
