#textdomain wesnoth-Raajal
[scenario]
	id=Prepare_for_Battle
	name= _ "Prepare for Battle"
	next_scenario=A_Failed_Attempt
	victory_when_enemies_defeated=no
	map_data="{@campaigns/Raajal/maps/Six_Years_Earlier.map}"

	turns=1

	{SECOND_WATCH}

	[side]
		side=1
		team_name=ugly
		controller=human
		no_leader=yes
	[/side]

	[side]
		side=2
		team_name=bad
		controller=ai
		no_leader=yes
	[/side]

	[side]
		side=3
		team_name=good
		controller=ai
		no_leader=yes
	[/side]

	[music]
		name=loyalists.ogg
	[/music]

	[event]
		name=prestart
	
		#Create castle guards and Reuben
		{UNIT_CREATE (Royal Guard) Gyran ( _ "Gyran") 3 16 7 facing=sw}
		{UNIT_CREATE (Royal Guard) Elurian ( _ "Elurian") 3 16 12 facing=sw}
		{UNIT_CREATE (Royal Guard) Draven ( _ "Draven") 3 24 7 facing=se}
		{UNIT_CREATE (Royal Guard) Hedry ( _ "Hedry") 3 24 12 facing=se}
	
		{PLACE_IMAGE scenery/fire1.png 37 14}
		{VARIABLE raajal_store.facing se}
		{UNSTORE_AT raajal_store 1 38 14}
	
	[/event]

	[event]
		name=start
	
		[endlevel]
			result=continue
		[/endlevel]
	[/event]

	[event]
		name=victory

		#Raajal thinks he sees something in the distance
		[scroll_to_unit]
			description=Raajal
		[/scroll_to_unit]
		[delay]
			time=2000
		[/delay]
	
		#He moves to the hill to get a better look
		{MOVE_UNIT (description=Raajal) 39 10}
		[redraw] [/redraw]
		[delay]
			time=4000
		[/delay]

		{UNIT_MSG (description=Hedry) ( _ "What is he doing?")}
		[redraw] [/redraw]
		[delay]
			time=2000
		[/delay]	


		#Reuben can't sleep
		{UNIT_CREATE (Redheaded Kid) Reuben ( _ "Reuben") 3 20 9 facing=se}
		[redraw] [/redraw]
		[delay]
			time=1000
		[/delay]
		
		{MODIFY_UNIT (description=Hedry) facing sw}
		[redraw] [/redraw]
		{UNIT_MSG (description=Hedry) ( _ "What is it now, Reuben?")}
		{UNIT_MSG (description=Reuben) ( _ "I can't sleep. I thought I'd...")}
		{UNIT_MSG (description=Draven) ( _ "Hedry, the strange one is approaching the castle.")}
		{MODIFY_UNIT (description=Hedry) facing se}
		[redraw] [/redraw]

		{MOVE_UNIT (description=Raajal) 26 12}
		{MODIFY_UNIT (description=Raajal) facing sw}
		[redraw] [/redraw]
		{MOVE_UNIT (description=Reuben) 24 11}

	
		{UNIT_MSG (description=Hedry) ( _ "What do you want?")}
		{UNIT_MSG (description=Raajal) ( _ "Your castle is about to be invaded by an army of orcs.")}
		{UNIT_MSG (description=Draven) ( _ "Nonsense. If there are indeed orcs out there, they are likely friends of the wizard's.")}
		{UNIT_MSG (description=Raajal) ( _ "Randalf is aligned with the orcs?")}
		{UNIT_MSG (description=Reuben) ( _ "Not exactly. Orcs helped us conquer this castle about a year ago. Some of them called Randalf 'Master', but most belonged to Randalf's Master. It's all very confusing.")}
		{UNIT_MSG (description=Raajal) ( _ "Indeed...")}
		{UNIT_MSG (description=Hedry) ( _ "How many orcs are we talking about?")}
		{UNIT_MSG (description=Raajal) ( _ "At least three hundred marching in formation. They'll be here by morning.")}
		[redraw] [/redraw]
		[delay]
			time=2000
		[/delay]
		{UNIT_MSG (description=Raajal) ( _ "Perhaps you should prepare your men for battle?")}

		{STORE_UNITS raajal_store description=Raajal no}

	[/event]

[/scenario]